.influencer {
  padding: 10px 14px 10px 17px;
  position: relative;
  width: fit-content;
  max-width: 250px;
  &:after {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    height: 70%;
    width: 1px;
    background: #dddddd;
    content: "";
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
  &-top {
    margin-bottom: 5px;
    width: 100%;
    .img {
      margin-right: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: contain;
    }
    &-content {
      overflow: hidden;
      flex: 1;
    }
  }
  &-name {
    font-size: 0.563rem;
    margin-bottom: 5px;
    font-weight: 600;
    @extend .text;
    @extend .overflow-text;
    width: 95%;
  }
  &-username {
    font-size: 0.438rem;
    font-weight: 500;
    @extend .text;
    @extend .overflow-text;
    width: 95%;
  }

  &-bottom {
    strong {
      font-size: 0.438rem;
      font-weight: 700;
      margin-right: 3px;
      @extend .text;
    }
    p {
      font-size: 0.438rem;
      @extend .text;
    }
    span {
      align-items: center;
    }
    &-left {
      margin-right: 12px;
    }
  }
}
