@import "./Desktop/style.scss";
@import "./Mobile/style.scss";
@import "./components/PeriodSections/style.scss";
@import "./components/PeriodSection/style.scss";
@import "./components/PeriodLoader/style.scss";
