.list-item {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: white;
  padding: 14px 21px 20px 12px;
  box-shadow: inset 0px -1px 0px #dcdce0;
  border-radius: 15px;
  border: none;
  border: 0.3px solid transparent;
  display: flex;
  flex-direction: column;
  &-flame {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all;
  }
  &-action {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    z-index: 99;
  }
  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    &-name {
      margin-right: 20px;
      border-bottom: 1px solid transparent;
      p {
        @extend .text;
        font-size: 0.688rem;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
    &-counter {
      font-size: 0.813rem;
      color: #92929d;
    }
  }
  &-active {
    opacity: 1;
  }
  &-open {
    border: 0.3px solid #ffc542;
    box-shadow: inset 0px -1px 0px #dcdce0;
    .list-item-content {
      &-name {
        border-bottom: 1px solid black;
      }
    }
  }

  transition: 0.2s all;
  &:hover {
    border: 0.3px solid #ffc542;
  }
  &-active {
    transform: scale(1.05);
    .list-item-flame {
      opacity: 1;
    }
  }
}
