.influencers-join {
  padding: 5px;
  margin-left: auto;
  background: #e7e7e7;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90px;
  position: relative;
  transition: $theme-transition;
  p {
    font-size: 0.5rem;

    font-weight: 600;
    line-height: 0.75rem;
    @extend .text;
  }
  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
