@import "./components/VarifiedUsersView/style.scss";
@import "./components/ViewOption/style.scss";

.home-selection {
  border-bottom: 2px solid #f1f1f1;
  justify-content: center;
  margin-bottom: 16px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.dark-mode {
  .home-selection {
    border-bottom: 2px solid #404040;
  }
}
