@import "components/VerifiedUsersViewCustom/style.scss";
@import "./components/AllTweetsViewCustom/style.scss";
@import "./components/ViewOption/style.scss";

.view-selector {
  order: 3;
  border-bottom: 2px solid #f1f1f1;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: $theme-transition;
  &-indicator {
    border-bottom: 2px solid #ffc542;
    height: 2px;
    position: absolute;
    bottom: -2px;
    transition: 0.15s all;
  }
  .view-selector-custom {
    position: relative;
    margin-left: 10px;
    .tooltip {
      top: calc(100% + 20px);
      left: -20px;
      padding: 10px;
      &::after {
        left: 20px;
      }
    }
    &-desktop {
      &:hover {
        .tooltip {
          opacity: 1;
        }
      }
    }

    &-btn {
      width: 15px;
      height: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.dark-mode {
  .view-selector {
    border-bottom: 2px solid #404040;
  }
}

@media only screen and (max-width: $mobile) {
  .view-selector {
    z-index: 999;
    background: #fafafb;
    position: sticky;
    top: 42px;
    display: block;

    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    height: 50px;

    &-indicator {
      bottom: 0px;
    }
    .view-selector-custom {
      position: static;
      .tooltip {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 10px);
      }
    }
  }
  .dark-mode {
    .view-selector {
      background: #2b2b2b;
    }
  }
}
