.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s all;
  &-active {
    opacity: 1;
    pointer-events: all;
  }
  &-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(45, 45, 45, 0.3);
    cursor: default;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 25vh;
    transform: translate(-50%);
    background: white;
    border-radius: 15px;
    box-shadow: inset 0px -1px 0px #dcdce0;
    width: fit-content;
    min-height: 200px;
    height: auto;
  }
}

.dark-mode {
  .popup {
    &-content {
      background: #3b3b3b;
    }
  }
}
