@import "../components/Influencer/style.scss";
@import "../components/InfluencersContainer/style.scss";
@import "../components/CountDown/style.scss";
@import "../components/List/style.scss";
@import "../components/List/ListItem/style.scss";
@import "../components/Header/style.scss";
@import "../components/HeaderCounters/style.scss";
@import "../components/ListsContainer/style.scss";
@import "../components/SelectionContainer/style.scss";
@import "../components/ThemeToggle/style.scss";

.flex {
  display: flex;
}
.home {
  min-height: 100vh;

  padding-bottom: 150px;
  background: #fafafb;
  font-family: "Poppins", sans-serif;
  &-lists {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-grid {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    &-sticky {
      background: #fafafb;
      position: sticky;
      z-index: 100;
      top: 0px;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* uncomment 'border' to see the bordered dots */
