@import "../components/InfluencersContainer/style.scss";
@import "../components/CountDown/style.scss";
@import "../components/List/style.scss";
@import "../components/Header/style.scss";
@import "../components/ViewSelector/style.scss";
@import "../components/TweetsContainer/index.scss";
@import "../components/ListsContainer/style.scss";

.flex {
  display: flex;
}
.home {
  overflow-y: hidden;
  min-height: 100vh;
  padding-bottom: 150px;
  background: #fafafb;
  transition: $theme-transition;
  &-grid {
    max-width: 1350px;
    width: calc(100% - 80px);
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
.dark-mode {
  .home {
    background: #2b2b2b;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: $mobile) {
  .home {
    &-grid {
      width: calc(100% - 20px);
    }
  }
}
