.influencers {
  background: #eeeeee;
  margin-bottom: 11px;
  transition: 0.15s all;
  max-height: 0px;
  overflow: hidden;
  border-radius: 10px;
  height: 65px;
  &-most-active {
    min-width: 143px;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    border-radius: 10px;

    img {
      width: 21px;
      height: 21px;
      object-fit: contain;
      margin-right: 5px;
    }
    p {
      @extend .text;
      font-size: 0.563rem;
      line-height: 0.844rem;
      text-align: center;
      width: 77px;
    }
  }
  &-flex {
    background: #eeeeee;
    width: fit-content;
    overflow: auto;
    max-width: 100%;
  }
  &-join {
    margin-left: auto;
    background: #e7e7e7;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width: 90px;
    transition: 0.2s all;

    p {
      font-size: 0.5rem;

      font-weight: 600;
      line-height: 0.75rem;
      @extend .text;
    }
    img {
      width: 30px;
      height: auto;
      object-fit: contain;
    }
  }
}

.dark-mode {
  .influencers {
    background: #1e1e1e;
    &-flex {
      background: #1e1e1e;
    }
    &-join,
    &-most-active {
      background: #3a3a3a;
    }
  }
}
