@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
@import "./colors.scss";
@import "./constants.scss";
@import "./reset.scss";
@import "./common.scss";
@import "../screens/home/style/index.scss";
@import "../components/style.scss";
