.list-item-mentions {
  padding-top: 10px;
  overflow: auto;
  position: relative;
  height: 100%;
  .lottie {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%);
    width: 80%;
    height: 80%;
  }
}
