@import "./CookiePolicy/style.scss";
@import "./ThemeToggle/style.scss";
@import "./Tooltip/style.scss";
@import "./Popup/style.scss";
@import "./button/style.scss";
@import "./AppLoader/style.scss";
@import "./LoadingHandler/style.scss";
@import "./Footer/style.scss";
@import "./navbar/style.scss";
@import "./ImgComponent/style.scss";
@import "./WithLoveText/style.scss";
