.footer {
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 22px;
  * {
    font-size: 0.688rem;
    font-weight: 400;
    color: #92929d;
  }
  &-policy {
    height: 14px;
    align-items: center;
    a {
      position: relative;
      text-decoration: none;
      &:first-child {
        margin-right: 30px;
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          transform: translate(0, -50%);
          height: 120%;
          right: -15px;
          background: #000000;
          width: 1px;
          opacity: 0.5;
        }
      }
    }
  }
  &-logo {
    a {
      text-decoration: none;
    }
  }
}
