.list-item-hashtags {
  padding-top: 8px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;

  transition: 0.2s all;
  &-active {
    opacity: 1;
  }
  &-top {
    align-items: center;
    margin-bottom: 7px;
    padding-left: 6px;
    p {
      margin-right: 8px;
      font-size: 0.688rem;
    }
  }
  &-list {
    padding-top: 7px;
    overflow-y: auto;
    padding-left: 3px;
    .hashtag-tweet {
      margin-bottom: 10px;
      padding-left: 8px;
      position: relative;
      &:first-of-type {
        &:after {
          position: absolute;
          left: -1px;
          top: 2px;
          width: 1px;
          height: 100%;
          content: "";
          background: #f0f0f0;
        }
      }
      p {
        font-size: 0.563rem;
        line-height: 0.75rem;
        letter-spacing: 0.006rem;
      }
      a {
        color: #ffc542;
        font-weight: bold;
        text-decoration: none;
      }
      &-image {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        object-fit: contain;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      &-content {
        padding-left: 8px;
        flex: 1;
        &-top {
          align-items: center;
          margin-bottom: 5px;

          p {
            font-weight: 700;
            margin-right: 5px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}
