.view-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  padding: 0px 40px;
  text-align: center;
  z-index: 999;
  position: relative;
  bottom: -2px;
  padding-bottom: 5px;
  transition: 0.2s all;
  .flex {
    align-items: center;
    cursor: pointer;
  }
  &-extra {
    font-size: 6px;
    margin-left: 10px;
    margin-top: 2px;
  }
  p {
    @extend .text;
    font-size: 0.813rem;
  }
  &-img {
    margin-right: 0.375rem;
    object-fit: contain;
    height: 20px;
    width: 20px;
  }
  &-active {
    p {
      font-weight: 600;
    }
  }
}
