.tooltip {
  position: relative;

  transition: 0.2s all;
  position: absolute;
  max-width: 250px;
  width: max-content;
  background: #171725;
  color: white;
  font-size: 0.625rem;
  line-height: 1.125rem;
  text-align: left;

  z-index: 10;
  opacity: 0;
  pointer-events: none;

  &::after {
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-bottom: 6px solid #171725;
    content: "";
  }
  p,
  span {
    width: fit-content;
    color: white;
    font-size: 0.625rem;
    line-height: 1.125rem;
  }
}
