@import "./components/ListLoader/style.scss";
.lists {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 18px;
  position: relative;
  .list-loader {
    .lottie {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &-hidden {
    .influencers {
      height: 0px;
    }
  }
}
