.list-item {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: inset 0px -1px 0px #dcdce0;
  border-radius: 15px;
  border: none;
  border: 0.3px solid transparent;
  display: flex;
  flex-direction: column;
  transition: $theme-transition;
  &-wrapper {
    position: relative;
  }
  .tooltip {
    word-break: break-all;
    padding: 10px;
    width: fit-content;
    max-width: none;
    top: calc(100% - 10px);
    left: 10px;
    max-width: 90%;
  }
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
  &-update-animation {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    overflow: hidden;
    align-items: flex-end;
    .lottie {
      position: absolute;
      width: 40px;
      height: auto;
      bottom: -3px;
      right: 70px;
    }
  }

  &-flame {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all;
  }
  &-custom {
    position: relative;

    flex: 1;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  &-action {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    z-index: 99;
  }
  &-top {
    padding: 10px 21px 16px 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    &-name {
      margin-right: 30px;
      border-bottom: 1px solid transparent;
      font-weight: 600;
      @extend .text;
      font-size: 0.688rem;
      white-space: nowrap;
      flex: 1;
      height: 100%;
      overflow: hidden;

      align-items: center;
      text-overflow: ellipsis;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &-counter {
      font-size: 0.813rem;
      color: #92929d;
      text-align: right;
    }
  }
  &-active {
    opacity: 1;
  }
  &-open {
    border: 0.3px solid #ffc542;
    box-shadow: inset 0px -1px 0px #dcdce0;
    .list-item-content {
      &-name {
        border-bottom: 1px solid black;
      }
    }
  }

  &:hover {
    border: 0.3px solid #ffc542;
  }
  &-active {
    .list-item-flame {
      opacity: 1;
    }
  }
}

.dark-mode {
  .list-item {
    background: #3b3b3b;
    box-shadow: inset 0px -1px 0px #000000;
  }
}

@media only screen and (max-width: $mobile) {
  .list-item {
    &:hover {
      border: 0.3px solid transparent;
    }
    &-top {
      &-name {
        p {
          font-size: 0.813rem;
        }
      }
    }
    &-loader-lottie {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translate(-50%);
      width: 310px;
      height: 310px;
    }
  }
}
